{% extends "layout.html" %}

{% block title %}
About
{% endblock %}

{% block body %}
<p class="about-text">
    Welcome to Getaway in Kashmir where we celebrate the spirit of adventure and connection. Born out of a passion for travel, our platform
    is a virtual haven where like-minded wanderers converge to share their journeys.
    What you are seeing right now is raw implementation of our idea but with time we hope to develop our webpage and make it even more user friendly, we are working on developing a webpage which helps
    fellow travellers in kashmir to connect to one another.
    <br>
    Danish Najeeb
</p>

{% endblock %}
