{% extends "layout.html" %}

{% block title %}
 Places
{% endblock %}

{% block body %}

<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 md-6">
    <strong><h2>Popular places in kashmir</h2></strong>
    <div class="place">
        <img class="place-img1" src="/static/images/dal.jpg" alt="dal-img">
    <p class="place-text">
        Dal Lake, nestled in the heart of the enchanting Kashmir Valley, is a jewel that reflects the unparalleled beauty of the region. Surrounded by majestic snow-capped mountains and vibrant
        Mughal gardens, the lake is a tranquil oasis of serenity. Shikaras, the traditional wooden boats, gracefully glide across the sparkling waters, adorned with vibrant canopies and floating
        gardens. Floating markets add a touch of liveliness to the scene, offering a unique shopping experience. Houseboats, adorned with intricate woodwork, line the shores, providing a romantic
        and idyllic retreat.
    </p>
    </div>
    </div>
    </div>
<div class="row">
    <div class="col-lg-12 md-6">
<div class="place">
    <img class="place-img2" src="/static/images/gulmarg.jpg" alt="gulmarg-img">
    <p class="place-text">
        Gulmarg, cradled in the arms of the Pir Panjal range, is a winter wonderland that transforms into a meadow of wildflowers in the summer. Famous for its pristine landscapes, this idyllic town in
        Kashmir is a paradise for nature lovers and adventure enthusiasts alike. Towering pine trees surround the meadows, creating a picturesque setting against the backdrop of snow-capped peaks.
        During winter, Gulmarg transforms into a snowy haven, attracting skiers and snowboarders from around the globe. The Gulmarg Gondola, one of the highest cable cars in the world, offers
        breathtaking views of the Himalayas. Whether blanketed in snow or carpeted with vibrant blossoms, Gulmarg remains a sanctuary of beauty and tranquility.
    </p>
</div>
</div>
</div>

<div class="row">
    <div class="col-lg-12 md-6">
<div class="place">
    <img class="place-img1" src="/static/images/yusmarg.jpg" alt="yusmarg-img">
    <p class="place-text">
        Yusmarg, a hidden gem nestled in the Pir Panjal range of Kashmir, is a pristine escape into nature's embrace. This charming meadow, adorned with a carpet of wildflowers, is a tranquil haven that
        captivates with its untouched beauty. Surrounded by dense forests and snow-capped peaks, Yusmarg exudes an aura of serenity, inviting visitors to wander along its meandering trails. The Doodh
        Ganga river gently flows through, adding a melodic touch to the peaceful ambiance. With its panoramic views, Yusmarg stands as a testament to the untouched splendor of Kashmir, offering a
        retreat where one can revel in the simplicity and tranquility of the natural world.
    </p>
</div>
</div>
</div>
<div class="row">
    <div class="col-lg-12 md-6">
<div class="place">
    <img class="place-img2" src="/static/images/hazratbal.jpg" alt="yusmarg-img">
    <p class="place-text">
        Hazratbal Shrine, located on the northern shores of Dal Lake in Srinagar, is a sacred jewel that graces the city with its spiritual significance and architectural elegance. The pristine white
        marble domes and the stunning reflection in the calm waters of Dal Lake create a scene of ethereal beauty. This revered shrine, draws pilgrims and visitors alike. Surrounded by serene landscapes and the Himalayan backdrop, Hazratbal Shrine offers not only a place of worship but also a heaven for
        contemplation and tranquility. The gentle whispers of prayer and the timeless beauty of the shrine make it a soul-stirring destination, where faith and aesthetics seamlessly converge.
    </p>
</div>
</div>
</div>

</div>
</div>
{% endblock %}


